@model Login

@{
    Layout = "";
}


<!doctype html>
<html lang="en">
<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2>Hoşgeldiniz</h2>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                    </p>
                                </div>
                            </div>
                            <form asp-controller="Login" asp-action="Index" method="post" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label">KULLANICI ADI</label>
                                    <input asp-for="UserName" type="text" class="form-control" placeholder="kullanıcı adı" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label">SIFRE</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="sifre" required>
                                </div>
                                <div class="g-recaptcha form-group mb-3" data-sitekey="6Ld2sf4SAAAAAKSgzs0Q13IZhY02Pyo31S2jgOB5"></div>
                                <div class="form-group">                                    
                                    <button type="submit" class="form-control btn btn-primary submit px-3">OTURUM AC</button>
                                </div>
                                <div>
                                    <span>@TempData["HataliGiris"]</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>

